/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
/* Variables*/
:root {
  /* Usage for imported fonts */
  --nova-flat: "Nova Flat", cursive;
  --nova-square: "Nova Square", cursive;

  /* Colors */
  --hover-color: #ffffff11;
  --color-1: #205f9b;
  --body-dark: #0d1117;
  --nav-bar-dark: #161921;
  --blood-red: #a81d60;
  --primary-text-color: #f5f5f5;
}
/* General presets */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--body-dark);
  color: #ffffff;
}
h1,
p {
  font-family: Lato;
  color: white;
}
