<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nipro</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
  <script src="{% static "frontend/public/main.js" %}" defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
</head>
<body>
<div id="main">
  <div id="app"></div>
  </div>
</body>
</html>