/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
/* Variables*/
:root {
  /* Usage for imported fonts */
  --nova-flat: "Nova Flat", cursive;
  --nova-square: "Nova Square", cursive;

  /* Colors */
  --color-1: #205f9b;
}
/* General presets */
* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}

#nipro-logo {
  font-family: var(--nova-square);
  font-size: 2rem;
  color: black;
}
